*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Font-size: 14px;
    --Font-family: 'Kumbh Sans', sans-serif;
    --Font-weight-normal: 400;
    --font-weight-bold: 700;
}

body{
  font-family: var(--Font-family);
  background-color: var(--Light-grayish-blue);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container{
  display: grid;
  grid-template-columns: 2rem 13rem auto auto;
  grid-template-rows: 1fr;
  width: min(90%, 85rem);
  justify-self: center;
  align-items: center;
  padding: clamp(1rem, 3vw, 3rem);
}


.desktop-menu {
  display: none;
  grid-area: 1 / 3 / 1 / 3;
}

.desktop-menu a{
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  font-weight: 500;
}

.logo{
  grid-area: 1 / 2 / 1 / 2;
  justify-self: start;
  padding-inline-start: clamp(1rem, 10vw, 1rem);
}

.cart{
  grid-area: 1 / 4 / 1 / 4;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.mobile-menu{
  width: 0;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--White);
  overflow-x: hidden;
  transition: 0.5s;
  padding-block-start: 11rem;
  z-index: 3;
}

.mobile-nav a {
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--Very-dark-blue);
  display: block;
  transition: 0.3s;
}

.mobile-menu.open {
  width: 26rem;
}

.hamburger-button, .cart-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  align-self: flex-end;
}

.avatar{
  width: clamp(1.7rem, 2.5vw, 2.5rem);
  object-fit: contain;
  align-self: center;
}
















@media (min-width: 1024px) {
  .desktop-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2rem;
    justify-content: flex-start;
  }

  .mobile-menu, .hamburger-menu {
    display: none;
  }

  .header-container{
    border-block-end: 1px solid hsl(220deg 14% 75% / 38%);
  }

}