*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Font-size: 14px;
    --Font-family: 'Kumbh Sans', sans-serif;
    --Font-weight-normal: 400;
    --font-weight-bold: 700;
}

body{
  font-family: var(--Font-family);
  background-color: var(--Light-grayish-blue);
}

.header-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: min(90%, 70rem);
  justify-self: center;
}


.desktop-menu {
  display: none;
  grid-area: 1 / 2 / 1 / 2;
}

.logo{
  grid-area: 1 / 1 / 1 / 1;
  justify-self: start;
}

.mobile-menu{
  width: 0;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-block-start: 11rem;
  z-index: 3;
}

.mobile-nav a {
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--Very-dark-blue);
  display: block;
  transition: 0.3s;
}

.mobile-menu.open {
  width: 26rem;
}

.hamburger-menu{
  margin-block-start: 0.35rem;
}

.cart{
  grid-area: 1 / 3 / 1 / 3;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.hamburger-button, .cart-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  align-self: center;
}

.avatar{
  width: 2rem;
  height: 2rem;
  align-self: center;
}
















@media (min-width: 1024px) {
  .desktop-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }

  .mobile-menu, .hamburger-menu {
    display: none;
  }

}