*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Orange: rgb(255, 125, 26);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: rgb(182, 188, 200);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Font-size: 14px;
  --Font-family: "Kumbh Sans", sans-serif;
  --Font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--Font-family);
  background-color: var(--Light-grayish-blue);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: grid;
  grid-template-columns: 2rem 13rem auto auto;
  grid-template-rows: 1fr;
  width: min(90%, 85rem);
  justify-self: center;
  align-items: center;
  padding-inline-start: clamp(1.5rem, 3vw, 3rem);
  padding-inline-end: clamp(1.5rem, 3vw, 3rem);
}

.desktop-menu {
  display: none;
  grid-area: 1 / 3 / 1 / 3;
}

.logo {
  grid-area: 1 / 2 / 1 / 2;
  justify-self: start;
  padding-inline-start: clamp(0.5rem, 0.5vw, 1.2rem);
  margin-inline-start: -0.6rem;
}

.cart {
  grid-area: 1 / 4 / 1 / 4;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.mobile-menu {
  width: 0;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--White);
  overflow-x: hidden;
  transition: 0.5s;
  padding-block-start: 11rem;
  z-index: 5;
}

.mobile-nav a {
  padding: 0.9rem 1.5rem;
  text-decoration: none;
  font-size: min(5vw, 1.5rem);
  color: var(--Very-dark-blue);
  font-weight: var(--font-weight-bold);
  display: block;
  transition: 0.3s;
}

.mobile-nav {
  position: absolute;
  top: 7rem;
}

.mobile-menu.open {
  width: min(65%, 30rem);
}

.hamburger-button,
.close-button,
.cart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.hamburger-button {
  margin-inline-start: -1.5rem;
}

.close-button {
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  width: clamp(1.5rem, 2.5vw, 2.5rem);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.avatar {
  width: clamp(1.7rem, 2.5vw, 2.5rem);
  object-fit: contain;
  align-self: center;
}

main {
  width: min(100%, 85rem);
  justify-self: center;
}

.prev-arrow img,
.next-arrow img {
  width: 0.63rem;
}

.arrow-buttons {
  display: flex;
  flex-direction: row;
  width: min(100%, 42rem);
  padding: 0 1rem;
  justify-content: space-between;
  position: absolute;
  top: clamp(14rem, 54vw, 32rem);
}

.product-gallery button {
  background-color: var(--White);
  width: 2.7rem;
  height: 2.7rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.main-image img {
  width: clamp(23rem, 100%, 46rem);
  height: 20rem;
  object-fit: cover;
}

.inactive {
  display: none;
}

.thumbnail img {
  display: none;
}

.product-description {
  padding: 2rem;
}

h1 {
  font-size: clamp(0.7rem, 3vw, 0.9rem);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.25rem;
}

h2 {
  font-size: clamp(1.5rem, 8vw, 3rem);
  margin: 1rem 0;
}

h1,
p,
.discount {
  color: var(--Dark-grayish-blue);
}

.description {
  font-size: clamp(0.85rem, 3vw, 1rem);
  margin-block-start: 1.2rem;
  margin-block-end: 1.5rem;
  padding-inline-end: min(3vw, 10rem);
}

.price {
  display: grid;
  grid-template-columns: 0fr 0fr 0.85fr;
  column-gap: 1rem;
  align-items: center;
  grid-template-rows: 2rem;
  margin: 2rem 0;
}

.newPrice {
  color: var(--Black);
  font-weight: var(--font-weight-bold);
  font-size: clamp(1.5rem, 8vw, 2.2rem);
}

.price span {
  color: var(--White);
  background-color: var(--Black);
  padding: 0.2rem 0.5rem;
  border-radius: 0.35rem;
  font-weight: var(--Font-weight-normal);
  font-size: 0.8rem;
  justify-self: center;
}

.discount {
  text-decoration: line-through;
  font-size: 0.9rem;
  font-weight: var(--font-weight-bold);
  justify-self: end;
}

.choose-product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(182, 188, 200, 0.2);
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem;
  font-family: var(--Font-family);
  font-weight: var(--font-weight-bold);
  color: var(--Black);
}

.quantity button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.minus {
  margin-block-start: -0.3rem;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Orange);
  border: none;
  color: var(--Black);
  font-weight: var(--font-weight-bold);
  font-family: var(--Font-family);
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 1px 18px 3rem 0px rgba(255, 125, 26, 0.2);
}

.add-to-cart svg {
  margin-inline-end: 0.5rem;
}

footer {
  margin: 1rem 0;
  color: var(--Dark-grayish-blue);
}

/* HOVER AND ACTIVE STATES  */

@media (min-width: 768px) {
  header {
    margin: 1rem 0;
  }

  .main-image img {
    height: auto;
    border-radius: 5%;
    object-fit: contain;
  }

  .product-gallery {
    display: flex;
    justify-content: center;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100%, 46rem);
  }

  .thumbnail {
    display: flex;
    flex-direction: row;
    margin-block-start: 2rem;
    width: 100%;
    justify-content: space-between;
  }

  .thumbnail img {
    display: flex;
    cursor: pointer;
    width: calc(100% / 5);
    height: auto;
    border-radius: 10%;
    object-fit: contain;
  }

  h2 {
    padding-inline-end: 15rem;
  }

  .price {
    grid-template-columns: 0fr 0fr;
    grid-template-rows: repeat(2, 2rem);
  }

  .discount {
    justify-self: start;
    margin-block-start: 1rem;
  }

  .choose-product {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }
}

@media (min-width: 1024px) {
  h2 {
    padding-inline-end: 0;
  }

  header {
    justify-content: center;
    margin: 0;
  }

  .desktop-menu a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
    padding-block-start: clamp(1.5rem, 3vw, 3rem);
    padding-block-end: clamp(1.5rem, 3vw, 3rem);
  }

  .desktop-menu a::after {
    content: ""; /* so the pseudo-element appears */
    position: absolute; /* to place it where needed, 
    position: absolute; en ::after: Saca la línea del flujo normal del documento.
    Esto significa que no ocupa espacio, por lo que no empujará los elementos de menú.
    Su posición (bottom, left) se calcula en relación con su padre (a). */
    bottom: 0;
    left: 0;
    width: 100%; /* the line will cover the lenght of the "a" */
    height: 3px;
    background-color: var(--Orange);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
  }

  /*::after es como agregar un <span> dentro del elemento padre, tipo: <a>Texto<span></span></a>
  si agregas un position:absolute; ese span se convertiria como una capa que iria encima del elemento padre.
  el after seria la capa 1 y el padre la capa 0.
  ::before y ::after funcionan igual, la unica diferencia es donde se coloca:
  ::before =  <a><span></span>Texto</a>
  ::after = <a>Texto<span></span></a>*/

  .desktop-menu a:hover::after,
  .desktop-menu a:focus::after {
    transform: scaleX(1); /* line appears */
  }

  .desktop-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2rem;
    justify-content: flex-start;
  }

  .mobile-menu,
  .hamburger-menu {
    display: none;
  }

  .header-container {
    border-block-end: 1px solid hsl(220deg 14% 75% / 100%);
  }

  .arrow-buttons {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 7rem;
    align-items: center;
  }

  .add-to-cart {
    box-shadow: 1px 18px 3rem 0px rgba(255, 125, 26, 0);
  }
}
